/*
  Name: Alex Cepeda
  Date Created: 10/22/2018
  Latest Revision:
*/

/* Styles the header sections */
header {
  background-color: #8D83B2;
  text-align: center;
  font-size: 1.2em;
  height: 100px;
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
}

/* Styles the anchor links in the nav bar when they have been visited */
nav a:visited {
  color: red;
}

/* Styles the anchor links in the nav bar when the pointer is hovering over it */
nav a:hover {
  font-weight: bold;
}

/* Styles the anchor links in the nav bar when they are being activated */
nav a:active {
  text-decoration: none;
}

/* Styles the footer sections */
footer {
  background-color: #8D83B2;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
