/*
  Creator: Alex Cepeda
  Date created: 10/21/2018
  Date last modified:
*/

/* Sets the background color, text color, and text font for the page */
body {
  background-color: #8a8ba0;
  font-family: arial, helvetica, sans-serif;
  color: #0d1f2d;
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.2em;
}

header{
  text-align: center;
}

.links{
  border: thick solid;
  padding-left: 20px;
}
